
  
  .navbar {
    background-color: #ffffff;
    color: #030303;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    z-index: 999;
    animation: fadeInDown 1s ease;
  }
  
  .menu-items {
    list-style: none;
    display: flex;
  }
  
  .menu-items li {
    margin-right: 60px;
  }
  
  .menu-items li:last-child {
    margin-right: 0;
  }
  
  .menu-items a {
    text-decoration: none;
    color: #070707;
    font-weight: 600;
  }
  
  .cart-login-container {
    display: flex;
    align-items: center;
  }
  
  .fa-bag-shopping {
    font-size: 24px;
    margin-right: 10px;
    color: #222222;
  }
  
  input[type="button"] {
    background-color: #5E92FA;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
  }
  
  input[type="button"]:hover {
    background-color: #0056b3;
  }
  @media screen and (max-width: 768px) {
    .menu-items {
      flex-direction: column;
      align-items: center;
    }
  
    .menu-items li {
      margin: 10px 0;
    }
  
    .cart-login-container {
      flex-direction: column;
      align-items: center;
    }
  }
  