
<nav class="navbar" [@fadeInDown]>
  <a routerLink="/">
    <app-logo></app-logo>
  </a>
  <div class="navbar-container container">
    <ul class="menu-items">
      <li><a routerLink="/home">HOME</a></li>
      <li><a routerLink="/about">ABOUT</a></li>
      <li><a routerLink="/product">PRODUCT</a></li>
      <li><a routerLink="/contact">CONTACT</a></li>
    </ul>
  </div>
  <div class="cart-login-container">
    <i class="fa-bag-shopping fa-solid fa"></i>
    <a routerLink="/login"><input type="button" value="Login" /></a>
  </div>
</nav>
